/* *{
  background-image: url("..../image/thomas-tucker-taipei-unsplash.jpg");
} */
.SearchFrom{
  margin: 10px;
  padding: 20px;
  width: 300px;
}
.searchFormLabel{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.formButton{
  margin-top:10px;
}
